/* Reseteo de estilos */
*{
    margin: 0;
    padding: 0;
}

/* Estilos Body */
body{
    font-family: "Roboto", sans-serif;
}

/* Estilos NavBar */
.navbar{
    background-color: #2796a3;
    color: white;
}
.navbar .imgNavBar{
    width: 25px;
}

/* Estilos sección Quiénes somos */
.card i{
    font-size: 30px;
}
.cards{
    display: flex;
    justify-content: space-evenly;
    gap: 5px;
}

/* Estilos Footer */
footer{
    font-size: 25px;
}
.footerParrafo{
    width: 50%;
}
.footerIcons{
    width: 50%;
}
footer i{
    color: white;
}
